@mixin font-face($family, $style, $weight, $file) {
  @font-face {
    font-weight: $weight;
    font-style: $style;
    font-family: "#{$family}";
    src: url("./../assets/fonts/#{$file}.woff2") format("woff2");
    font-display: swap;
  }
}
